@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Sans&family=Nova+Square&family=Raleway:wght@100;200;400&display=swap');

:root {
    
    /* Fontes usadas*/
    --font00: 'Roboto', sans-serif;
    --font01: 'Hedvig Letters Sans', sans-serif;
    --font02: 'Nova Square', sans-serif;
    --font03: 'Raleway', sans-serif;
    
    /*Paleta de cores*/
    --azul-escuro: #01080E;
    --verde-claro: #5aed83;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: var(--font01)
}

html, body {
    height: 100vh;
    color: #01080E;

}

header {
    background-color: #01080E;
    color: #5aed83;
    padding: 10px;
}

header > picture > img {
    width: 220px;
    display: block;
    margin: auto;
}

header > p {
    font-family: var(--font02);
    font-size: .9em;
    text-align: center;
    margin-bottom: 10px;
}

nav#menu {
    display: none;
    width: 200px;
    height: 45vh;
    background-color: #01080ee0;
    color: #5aed83;
    border-radius: 2px  10px;
    padding: 40px 0px 40px 1%;
    margin-top: 2px;
}

div.btn-expandir > i.bi {
    font-size: 1.4em;
    color: #5aed83;
    border: 1px solid var(--verde-claro);
    border-radius: 5px 0px;
    cursor: pointer;
    padding-left: 4px;
    padding-right: 4px;

}

ul {
    height: 50%;
    list-style-type: none;
}

ul li.item-menu a {
    display: flex;
    text-decoration: none;
    color: #5aed83;
    font-size: 1em;
    padding: 5px 4%;
}

ul > li.item-menu > a > span.icon {
    padding: 6px;
}

ul > li.item-menu > a > span.icon:hover {
    border: 1px solid var(--verde-claro);
    border-radius: 50%;
}

ul > li.item-menu > a > span.txt-links {
    padding: 6px;
    margin-left: 10px;
}

ul > li.item-menu > a > span.txt-links:hover {
    text-decoration: underline;
}

main {
    margin: 10px;
}

main > section > h2 {
    background-color: var(--azul-escuro);
    color: var(--verde-claro);
    font-family: var(--font02);
    font-weight: normal;
    font-size: 1.5em;
    margin: 0px -10px;
    padding: 4px;
}

main > section > p {
    display: block;
    width: 400px;
    text-align: justify;
    line-height: 1.5em;
    margin: auto;
}

main > section.tecnologia {
    background: url('/');
}