@charset "UTF-8";

header > p {
    font-family: var(--font02);
    font-size: 1em;
    text-align: center;
    margin-bottom: 10px;
}

div.btn-expandir > i.bi {
    display: none;
}

header > p {
    font-size: 1.1em;
}

nav#menu {
    display: block;
    width: 100%;
    height: 40px;
    background-color: var(--azul-escuro);
    border-radius: 0px;
    margin: 0px;
}

ul.container {
    display: flex;
}

ul li.item-menu a {
    line-height: normal;
}

ul > li.item-menu > a > span.icon {
    
}

ul > li.item-menu > a > span.icon:hover {
    border: 0px;
}